name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    if: "${{ false }}"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: "true"

      - uses: trim21/actions/setup-go@master
        with:
          cache-namespace: lint

      - run: go build ./...
