name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    if: "${{ false }}"
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: "true"

      - uses: trim21/actions/setup-go@master
        with:
          cache-namespace: lint

      - run: go build ./...
